{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('show') }} 
{% endblock %}
{% block body %}
<article class="details" style="color: white">
    <h2>{{film.titre}}</h2> 
    
    <figure>
    <img src={{asset(film.images)}} alt={{film.titre}}>
    
    <figcaption>
        <p>Date de sortie : {{film.annee}}</p> 
        <p>Durée : {{film.duree}} min</p>
        <p>Genre : {{film.genre1}}{% if film.genre2 is not empty %}, {{film.genre2}}{% endif %}{% if film.genre3 is not empty %}, {{film.genre3}}{% endif %}
        </p>
        <p>Acteurs principaux : {% for acteur in film.acteurs %}{{acteur}}, {% endfor %}</p>
        <p>Synopsis : {{film.synopsis}}</p>
    </figcaption>
    </figure>
    

</article>
{% endblock %}
