{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('show') }} 
{% endblock %}
{% block body %}
<article class="details">
    <h2 class="title_padding">{{film.titre}}</h2> 
    <section>
        <figure>
            <img src={{asset(film.images)}} alt={{film.titre}}>
            <figcaption>
                <p class="ficaption__detail">Date de sortie : {{film.annee}}</p> 
                <p class="ficaption__detail">Durée : {{film.duree}} min</p>
                <p class="ficaption__detail">Genre : {% for key, genre in genres %}{% if key+1 == film.genre1 %}{{genre}}{% endif %}{% endfor %}{% if film.genre2 is not empty %}{% for key, genre in genres %}{% if key+1 == film.genre2 %}, {{genre}}{% endif %}{% endfor %}{% endif %}{% if film.genre3 is not empty %}{% for key, genre in genres %}{% if key+1 == film.genre3 %}, {{genre}}{% endif %}{% endfor %}{% endif %}
                </p>
                <p class="ficaption__detail">Acteurs principaux : {% for acteur in film.acteurs %}{{acteur}}, {% endfor %}</p><br/>
                <p class="ficaption__detail">Synopsis :<br/> {{film.synopsis}}</p>
            </figcaption>
        </figure>
       {% if film.video is not empty %}<iframe width="560" height="315" src={{(film.video)}} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>{% endif %}
    </section>
    

</article>
{% endblock %}
