{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('serie') }} 
{% endblock %}

{% block body %}
    <a class="btn_link btn__film" href={{ path('film.ajout')}}>Suggérer une série</a>
    <h2>Serie</h2>

<article class="series">
{% for serie in series %}
    <a class="serie__card" href={{path('serie.show',{ 'id' :serie.id})}}>
        <figure class="figure">
            <img src={{asset(serie.images)}} alt={{serie.titre}} class="serie__img">
            <figcaption class="figcaption__card">
            <h3 class="figcaption_card-h3">{{serie.titre}}</h3>
            
            </figcaption>
        </figure>
        </a>
{% endfor %}
        
    
</article>

    

{% endblock %}
