{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('show') }} 
{% endblock %}
{% block body %}
<article class="details">
    <h2 class="title_padding">{{serie.titre}}</h2> 
    <section>
        <figure>
            <img src={{asset(serie.images)}} alt={{serie.titre}}>
    
            <figcaption>
                <p class="ficaption__detail">Date de sortie : {{serie.annee}}  | {{serie.anneefin ? "Date de fin : #{serie.anneefin}": 'En Cours'}}</p> 
                <p class="ficaption__detail">Genre : {{serie.genre1}}{% if serie.genre2 is not empty %}, {{serie.genre2}}{% endif %}{% if serie.genre3 is not empty %}, {{serie.genre3}}{% endif %}
                </p>
                <p class="ficaption__detail">Acteurs principaux : {% for acteur in serie.acteurs %}{{acteur}}, {% endfor %}</p><br/>
                <p class="ficaption__detail">Synopsis :<br/> {{serie.synopsis}}</p>
            </figcaption>
        </figure>
        <div class="detail_episode">
            <p>Durée moyenne des épisodes : {{serie.dureeepisode}} min</p>
            <p>Nombre de saisons : {{serie.nombresaison}}</p>
            <p>Nombre d'episodes : {{serie.nombreepisode}}</p>
        </div>
    </section>
    

</article>
{% endblock %}
